<style>
  .thumbnail{
    position:relative;
    width:100%;
    height:0;
    padding-top:56%;
  }
  .thumbnail img{
      position:absolute;
      top:0;
      left:0;
      width:100%;
      height:100%;
  }
</style>

<p id="notice"><%= notice %></p>

<div class="row">
  <% @posts.each do |post| %>
    <% if post.public == true or current_user %>
      <div class="col-lg-6 pb-1">
        <div class="card shadow-sm">
          <div class="card-body">
            <div class="row">
              <>
              <div class="col-7">
                <div class="thumbnail">
                    <% if post.image_out_url %>
                    <img src="<%= post.image_out_url %>">
                  <% else %>
                    <%= image_tag post.image.to_s, class: 'image' %>
                  <% end %>
                </div>
              </div>
              <div class="col-5">
                <% if post.title.length < 40 %>
                  <div><%= post.title %></div>
                <% else %>
                  <div><%= post.title.truncate(40) %></div>
                <% end %>
                <% small_length = 40 - post.title.length %>
                <% if small_length > 0 %>
                  <small class="card-text text-muted"><%= post.content.truncate(small_length) %></small>
                <% end %>
                <div>
                  <small class="text-muted"><%= post.created_at.strftime("%Y-%m-%d") %></small>
                </div>
              </div>
            </div>
          </div>
          <%= link_to '', post %>
        </div>
      </div>
    <% end %>
  <% end %>
  <%= @result %>
</div>