<%= form_with(model: post, local: true) do |form| %>
  <% if post.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(post.errors.count, "error") %> prohibited this post from being saved:</h2>

      <ul>
        <% post.errors.full_messages.each do |message| %>
          <li><%= message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :title %><br />
    <%= form.text_field :title %>
  </div>

  <div class="field">
    <%= form.label :content %><br />
    <%= form.text_area :content, rows: 60, cols: 60 %>
  </div>

  <div class="field">
    <%= form.label :tags %><br />
    <%= form.text_field :tags %>
  </div>

  <div class="field">
    <%= form.label :公開 %><br />
    <%= form.check_box :public, id: :public,:as => :boolean%>
  </div>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
