<p id="notice"><%= notice %></p>

<h1 class="h3">記事一覧</h1>

<div class="row">
  <% @posts.each do |post| %>
    <div class="col-lg-4">
      <div class="card mb-4 shadow-sm">
        <div class="card-body">
          <h5><%= post.title %></h4>
          <div class="card-text"><%= post.content.truncate(150) %></div>
          <small class="text-muted"><%= post.tags %></small>
          <br />
          <small class="float-right"><%= link_to 'さらに見る', post %></small>
        </div>
      </div>
    </div>
  <% end %>
</div>

<br>
<% if current_user %>
  <%= link_to 'New Post', new_post_path %>
<% end %>