<p id="notice"><%= notice %></p>

<h1 class="h3">記事一覧</h1>

<div class="row">
  <% @posts.each do |post| %>
    <% if post.public == false or current_user %>
      <div class="col-lg-4">
        <div class="card mb-4 shadow-sm">
          <div class="card-body">
            <h5><%= post.title %></h4>
            <% if post.public == false %>
              <small>非公開</small>
            <% end %>
            <% if post.movetag %>
              <div class="card-text"><%= post.movetag.html_safe %></div>
            <% end %>
            <small class="texrat-muted"><%= post.tags %></small>
            <br />
            <small class="float-right"><%= link_to 'さらに見る', post %></small>
          </div>
        </div>
      </div>
    <% end %>
  <% end %>
</div>

<br>
<% if current_user %>
  <%= link_to 'New Post', new_post_path %>
<% end %>