<p id="notice"><%= notice %></p>

<h2><%= @post.title %></h2>
<p><%= @post.created_at.strftime("%Y-%m-%d") %></p>
<p><%= @post.tags %></p>

<%= @post.content %>

<br />
<% if current_user %>
  <%= link_to 'Edit', edit_post_path(@post) %> |
  <%= link_to 'Back', posts_path %>
<% end %>