<p id="notice"><%= notice %></p>

<div class="border-bottom">
  <h2><%= @post.title %></h2>
  <% if @post.public == false %>
    <small>非公開</small>
  <% end %>
</div>

<%= @post.content.html_safe %>
<%= image_tag @post.image.to_s %>
<br />
  <small><%= @post.created_at.strftime("%Y-%m-%d") %></small><br />
  <small><%= @post.tags %></small>
<% if current_user %>
  <%= link_to 'Edit', edit_post_path(@post) %>
<% end %>
<%= link_to '一覧に戻る', posts_path %>